.page-header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px var(--color-of-details);
  padding-top: 24px;
}
.page-header__container {
  display: flex;
  align-items: baseline;
}
.page-header__info-nav {
  display: flex;
  align-items: baseline;
}
.logo {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.15;
}
.menu__list {
  display: flex;
  align-items: center;
  margin-right: 295px;
  & .list:first-child {
    margin-left: 93px;
  }
  & .list:not(:last-child) {
    margin-right: 50px;
  }
}
.menu__list {
  .current::after {
    color: var(--special-color);
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--special-color);
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: 0;
  }
}
.menu__list {
  .link {
    padding-bottom: 25px;
    &:hover,
    &:focus {
      color: var(--special-color);
    }
  }
}
.menu__list-item {
  position: relative;
  padding-bottom: 25px;
}
.page-header__contact {
  display: flex;
  align-items: center;
  & .link:hover,
  & .link:focus {
    color: var(--special-color);
  }
}
.menu__list-item-studio,
.menu__list-item-portfolio,
.menu__list-item-contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current {
  color: var(--special-color);
}
.page-header__contact-telephone {
  display: flex;
  align-items: flex-start;
}

.page-header__contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
.page-header__contact-email,
.page-header__contact-telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.page-header__contact-email {
  margin-right: 20px;
}
