.main__information-project-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.main__information-project-item {
  width: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
  background: var(--color-light);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    .main__information-project-item-text {
      transform: translateY(0%);
    }
  }
}

.main__information-project-item-card {
  position: relative;
  overflow: hidden;
}
.main__information-project-item-text {
  font-style: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--color-light);
  width: 370px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__information-project-item-border {
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 20px 24px;
}
.main__information-project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.detail {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
