.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--color-light);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  text-align: center;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-btn {
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--special-color);
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--color-contact);
  text-align: start;
}
.modal-input-icon {
  position: absolute;
  top: 20%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--special-color);
  }
  &:focus + .modal-input-icon {
    fill: var(--special-color);
  }
}

.modal-text {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.input-wrap {
  display: block;
  position: relative;
}

.check-text {
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-contact);
  display: flex;
  position: relative;
}

.check-link {
  color: var(--special-color);
  margin-left: 5px;
}

.check-text {
  span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .input-check:checked + & {
      background-color: var(--special-color);
      border: none;
    }
  }
}

.input-icon-check {
  fill: var(--color-light);
}

.form__btn-contact {
  color: var(--color-light);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background-color: var(--special-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}
